.chat_body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat_messages {
    flex: auto;
    max-height: calc(100% - 60px);
    overflow: auto;
}

.chat-message {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
    background-color: unset;
}

.chat-message-box {
    display: flex;
    max-width: 80%;
    width: auto;
    float: left;
    padding: 20px 28px;
    border-radius: 10px;
    background-color: #F5F1F1;
    font-size: 1rem;
}

.message-self .chat-message-box {
    float: right;
}

.chat-message--dark {
    background-color: unset;
}

.chat-message--dark .chat-message-box {
    background-color: #D0D0D0;
}